@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

/* usefull link */
/* https://freesvgillustration.com/product/certification/ */


:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #696cff;
  --bs-pink: #e83e8c;
  --bs-red: #ff3e1d;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffab00;
  --bs-green: #71dd37;
  --bs-teal: #20c997;
  --bs-cyan: #03c3ec;
  --bs-white: #fff;
  --bs-gray: rgba(67, 89, 113, 0.6);
  --bs-gray-dark: rgba(67, 89, 113, 0.8);
  --bs-gray-25: rgba(67, 89, 113, 0.025);
  --bs-gray-50: rgba(67, 89, 113, 0.05);
  --bs-primary: #696cff;
  --bs-secondary: #8592a3;
  --bs-success: #71dd37;
  --bs-info: #03c3ec;
  --bs-warning: #ffab00;
  --bs-danger: #ff3e1d;
  --bs-light: #fcfdfd;
  --bs-dark: #233446;
  --bs-gray: rgba(67, 89, 113, 0.1);
  --bs-primary-rgb: 105, 108, 255;
  --bs-secondary-rgb: 133, 146, 163;
  --bs-success-rgb: 113, 221, 55;
  --bs-info-rgb: 3, 195, 236;
  --bs-warning-rgb: 255, 171, 0;
  --bs-danger-rgb: 255, 62, 29;
  --bs-light-rgb: 252, 253, 253;
  --bs-dark-rgb: 35, 52, 70;
  --bs-gray-rgb: 67, 89, 113;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 67, 89, 113;
  --bs-body-color-rgb: 105, 122, 141;
  --bs-body-bg-rgb: 245, 245, 249;
  --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size: 16px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.53;
  --bs-body-color: #697a8d;
  --bs-body-bg: #f5f5f9;
}

body{
    /* height: 5000px; */
    font-family: 'Poppins', sans-serif;
}

/* button */

.btn.btn-primary{
    border: none !important;
    background-color: #696cff;
}

.btn.btn-primary:hover{
    background-color: #6610f2;
}

/* navbar */

.navbar-toggler{
    border: none !important;
    padding: 0;
}

.navbar{
    background-color: #F8F9FA;
    transition: all 0.5s;
}

.navbar-collapse.show {
    transition: all 0.5s;

}

.collapsing {
    transition: all 0.5s;
}

.collapsed {
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: #F8F9FA;
    opacity: 95%;
}

.nav-item.dropdown .dropdown-toggle{
    outline: none !important;
    box-shadow: none;
}

.nav-item.dropdown a.dropdown-item:active{
    background-color: #696cff;

}


/* hero */
section.hero{
    width: 100%;
    height: 80vh;
}

@media only screen and (max-width: 768px) {
    /* For desktop: */
    .svg-illustration svg{
        width: 100%;
    }
    .svg-icon svg{
        width: 30%;
    }

  }

/* card */

.card .card-footer{
    background-color: white;
}

/* section */
section#about,section#event, section#summary, section#alumni, section#job, section#vacancy{
    padding-top: 7rem;
}

/* pagination */
.page-link:focus,.page-link:active {
    outline: none !important;
    box-shadow: none;
 }



.page-link{
    color: #696cff;
}

/* line */
.line{
    height: 5px;
    background: #696cff;
}



